.pre-loader {
  background-color: #3b3b3b;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: block;
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #df7e26;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent;
}
.loader::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #ef7f1a;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3.5s linear infinite;
}
.loader::after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #ff9800;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.75s linear infinite;
}
