.footer {
  background-color: #3c3c3c;

  .inner {
    display: flex;
    align-items: center;
    height: 76px;
    width: 100%;
    color: #fff;
    line-height: 1.25;
  }

  @media screen and (max-width: 1289px) {
    .inner {
      justify-content: center;
      font-size: 12px;
    }
  }
  @media screen and (min-width: 1290px) {
    p {
      margin-right: 416px;
      font-size: 16px;
    }
  }
}

.footer__button {
  @media screen and (max-width: 1289px) {
    display: none;
  }
  @media screen and (min-width: 1290px) {
    display: block;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    border-bottom: 1px dashed #ffffff;
    &:hover,
    &:focus {
      border-bottom-color: transparent;
      color: #ef7f1a;
    }
  }
}
