.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(60, 60, 60, 0.65);
  overflow: hidden;

  .popup__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;

    .popup__content {
      position: relative;
      background-color: #fff;
      color: #3c3c3c;
      border: none;
      outline: none;
      border-radius: 47px;
      width: 100%;
      max-width: 360px;
      max-height: 100%;
      overflow-y: auto;
      padding: 20px;
      position: relative;
      text-align: center;

      .popup__close {
        position: absolute;
        right: 25px;
        top: 17px;
        background-color: transparent;
        padding: 0;
        margin: 0;
        z-index: 102;
        width: 18px;
        height: 18px;

        svg {
          width: 100%;
          stroke: #ef7f1a;
        }
        &:hover,
        &:focus {
          svg {
            stroke: #000;
          }
        }
      }
      .message {
        width: 100%;
      }
      .label__popup {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto 20px auto;
        font-size: 16px;
      }
      .label__popup:focus-within > .nameInput {
        transform: translateY(-100%);
        font-size: 9px;
      }
    }
  }
  .popup__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 1.41;
    margin-bottom: 20px;
  }
  .popup__input,
  .popup__textarea {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #d7d7d7;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    line-height: 1.6;
    outline: none;
    cursor: pointer;
    &:not(:placeholder-shown) + .nameInput {
      transform: translateY(-100%);
      font-size: 9px;
    }
  }
  .popup__input {
    height: 34px;
  }
  .popup__textarea {
    margin: 0;
  }
  .popup__button {
    width: 254px;
    height: 70px;
    font-size: 20px;
  }

  @media (max-width: 767px) {
    .popup__title {
      font-size: 20px;
    }
  }

  @media (min-width: 768px) {
    .popup__content {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.popup__select {
  width: 100%;
  padding-bottom: 5px;
  margin: 0 0 16px 0;
  border-bottom: 1px solid #d7d7d7;
  border-top: none;
  border-left: none;
  border-right: none;
  &:hover,
  &:focus {
    outline: none;
    // box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.19);
  }
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: url(/images/icons/select_button.svg);
  background-size: 20px;
  background-position: center right;
  color: #3c3c3c;
  background-color: transparent;
  .popup__option {
    font-size: 12px;
  }
}

.popup__clone {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.popup__addWindow__button {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: 28px;
  margin-bottom: 20px;
  padding: 4px 0;
  outline: none;
  border: none;

  &:before {
    content: '+';
    font-size: 40px;
    position: absolute;
    top: -50%;
    left: -28px;
  }

  &:hover,
  &:focus {
    outline: none;
    border: none;
    color: #ef7f1a;
    &:before {
      color: #ef7f1a;
    }
  }
}
.popup__size {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    margin-right: auto;
    margin-bottom: 20px;
  }
  .size {
    width: calc(50% - 10px);
    position: relative;
    &:after {
      content: 'см';
      color: #d7d7d7;
      position: absolute;
      right: 0;
      top: 10px;
    }
    & > .popup__input {
      width: 100%;
    }
  }
}

#popup__map {
  .popup__content {
    padding: 5px;
  }
  .mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    border-radius: 47px;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    border-radius: 47px;
  }
  iframe {
    display: block;
  }
}

#popup__galery {
  .popup__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    @media screen and (min-width: 768px) {
      padding: 15px;
    }
  }
  .galery__popup__imagesList {
    display: flex;
    width: 1044px;
    align-items: center;
    justify-content: center;
  }
  .popup__galery__image {
    // max-height: 500px;
    box-shadow: 5px 5px 57px rgba(0, 0, 0, 0.72);
    @media screen and (max-width: 767px) {
      width: 100%;
      position: relative;
    }
    @media screen and (min-width: 768px) {
      // max-width: calc(100% - 246px);
      // margin-right: 36px;
      // margin-left: 36px;
      width: 600px;
      height: auto;
      // margin-right: calc((100% - 500px) / 2);
      // margin-left: calc((100% - 500px) / 2);
    }
  }
}

.popup__galery__button {
  background: #ffffff;
  padding: 0;
  box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.19);
  border-radius: 198px;
  height: 47px;

  .popup__galery__icon {
    fill: #ef7f1a;
    &.right {
      transform: rotate(-180deg);
    }
  }

  &:hover {
    .popup__galery__icon {
      fill: #111;
    }
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    z-index: 100;
    width: 36px;
    .popup__galery__icon {
      width: 15px;
    }
    &.right {
      right: 20px;
    }
    &.left {
      left: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 72px;
    .popup__galery__icon {
      width: 30px;
    }
  }
}
