button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: all 0.3s ease-out;
  &:hover,
  &:focus,
  &:focus-visible,
  &:-moz-focusring {
    outline: none !important;
  }
}

.button {
  cursor: pointer;
  background-color: #ef7f1a;
  border-radius: 60px;
  font-weight: 400;
  color: #fff;
  border: none;
  outline: none;
  &:hover,
  &:focus {
    background-color: #df7e26;
  }
}
.button__down {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 25px;
    transform: translateX(-50%);
    left: 50%;
    height: 162px;
    width: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #ffffff;

    p {
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
    }
    img {
      height: 50px;
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 1290px) {
    bottom: 60px;
  }
}

.button__up {
  display: none;
  @media screen and (min-width: 768px) {
    position: fixed;
    bottom: 25px;
    right: 15px;
    z-index: 99;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease;
    transform: scale(0.9);

    height: 150px;
    width: 52px;
    padding: 16px;
    border-radius: 26px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  @media screen and (min-width: 1290px) {
    bottom: 116px;
    transform: scale(1);
  }
  p {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
  img {
    height: 37px;
    margin-bottom: 17px;
  }
}

.button__free-measuring {
  display: none;

  // @media screen and (max-width: 768px) {
  //   transform: scale(0.7);
  //   bottom: 15px;
  //   right: 15px;
  // }
  @media screen and (min-width: 768px) {
    display: flex;
    position: fixed;
    bottom: 25px;
    right: 75px;
    transform: scale(0.9);
    z-index: 9;

    padding: 0;
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color: #ef7f1a;
    box-shadow: 0 0 0 0 rgba(239, 127, 26, 1);
  }
  @media screen and (min-width: 1290px) {
    bottom: 116px;
    transform: scale(1);
  }

  &:hover,
  &:focus {
    background-color: #df7e26;
    .icon-back {
      -webkit-animation-play-state: paused;
    }
  }
  .icon-back {
    animation: spin 20s linear infinite;
  }

  .icon-measuring {
    position: absolute;
    width: 62px;
    height: 54px;
    top: calc(50% - 27px);
    left: calc(50% - 27px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// custom dots
.slick-dots > li {
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
.slick-dots > li > .dot {
  display: block;
  border: 3px solid #ef7f1a;
  border-radius: 50%;
  @media screen and (max-width: 767px) {
    width: 18px;
    height: 18px;
  }
  @media screen and (min-width: 768px) {
    border-width: 4px;
    width: 100%;
    height: 100%;
  }
}
.slick-dots > .slick-active {
  @media screen and (max-width: 767px) {
    width: 37px;
  }
  @media screen and (min-width: 768px) {
    width: 68px;
  }
}
.slick-dots > .slick-active > .dot {
  width: 100%;
  background-color: #ef7f1a;
  border-radius: 17px;
}
