@import 'resets/_normalize';
@import 'resets/_reset.local';
@import 'resets/_typography';
@import '_slick';
@import '_header';
@import '_main';
@import '_footer';
@import '_ui';
@import '_popups';
@import '_form';
@import '_adaptive';

.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.overflowed {
  overflow: hidden;
  // padding-right: 17px !important;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-overflow-scrolling: touch;

  // @media (max-width: 1024px) {
  //   padding-right: 0 !important;
  // }
}
html {
  scroll-behavior: smooth;
}
main {
  @media screen and (min-width: 1290px) {
    padding-bottom: 133px;
  }
}
a,
svg {
  transition: all 0.3s ease-out;
}

// Hero
.hero {
  background-color: #3b3b3b;
  position: relative;

  @media (max-width: 767px) {
    border-radius: 0 0 252px 252px;
    padding: 0 0 20px 0;
    .inner {
      padding: 0;
    }
  }
  @media screen and (min-width: 768px) {
    .inner {
      display: flex;
      padding-right: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1289px) {
    background-image: url(/images/backgrounds/hero-tablet-back.png);
    background-position: bottom left;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 1290px) {
    height: 740px;
    //   background-repeat: no-repeat;
    //   background-image: url(/images/backgrounds/hero-desk-back.png);
    //   background-position: bottom left;
  }
}
.hero__background__graphics {
  position: absolute;
  background-repeat: no-repeat;

  @media screen and (min-width: 1290px) {
    background-image: url(/images/backgrounds/hero-desk-back.png);
    background-position: bottom right;
    width: 40%;
    height: 100%;
    // right: 60%;
  }
}

.hero__background {
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  border-radius: 0px 0px 0 483px;
  background-size: cover;
  @media screen and (max-width: 767px) {
    height: 306px;
    width: 100%;
    background-position: center right;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.73),
        rgba(17, 17, 17, 0.73)
      ),
      url(/images/backgrounds/hero-mobile.jpg);
  }

  @media screen and (min-width: 768px) {
    top: -116px;
    height: 831px;
    width: 50%;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.73),
        rgba(17, 17, 17, 0.73)
      ),
      url(/images/backgrounds/hero-tablet.jpg);
  }

  @media screen and (min-width: 1290px) {
    height: 715px;
    top: 0;
    width: 48%;
    background-size: cover;
    background-position: left top;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.73),
        rgba(17, 17, 17, 0.73)
      ),
      url(/images/backgrounds/hero-desk.jpg);
  }
}

.hero__main {
  margin: 0;
  // position: relative;
  @media screen and (max-width: 767px) {
    padding: 125px 15px 0 15px;
    position: relative;
  }
  @media screen and (min-width: 768px) and (max-width: 1289px) {
    width: 46%;
    height: 740px;
    padding-top: 106px;
  }
  @media screen and (min-width: 1290px) {
    width: 50%;
    padding-top: 95px;
  }
}

.hero__title {
  font-weight: bold;
  color: #ffffff;
  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 33px;
    line-height: 1.2;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 1.22;
  }
  @media screen and (min-width: 992px) {
    font-size: 50px;
  }
  @media screen and (min-width: 1290px) {
    font-size: 69px;
    margin-bottom: 6px;
  }
}
.hero__subtitle {
  font-weight: 500;
  color: #ffffff;

  @media screen and (max-width: 767px) {
    width: 286px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.4;
  }
  @media screen and (min-width: 768px) {
    width: 360px;
    margin-bottom: 50px;
    font-size: 23px;
    line-height: 1.2;
  }
  @media screen and (min-width: 992px) {
    font-size: 25px;
  }
  @media screen and (min-width: 1290px) {
    width: 100%;
    margin-bottom: 40px;
  }
}
.hero__button {
  padding: 26px 12px;
  width: 286px;
  border-radius: 60px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  @media screen and (max-width: 767px) {
    margin: 0 auto 30px auto;
  }
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
.hero__decorate {
  background-color: transparent;
  margin: 0;
  @media screen and (min-width: 768px) {
    padding: 64px 15px 0 102px;
    margin-left: auto;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 992px) {
    width: 533px;
  }
  @media screen and (min-width: 1290px) {
    width: 50%;
  }
}
.hero__text {
  border: 15px solid #5b5b5b;
  border-radius: 252px;
  text-align: center;
  color: #fff;
  position: relative;
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    padding: 90px 0 63px 0;
    height: 363px;
    width: 286px;
    strong {
      margin-bottom: 28px;
    }
    p {
      font-size: 16px;
      line-height: 1.37;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 120px 15px;
    width: 280px;
    strong {
      margin-bottom: 18px;
    }
    p {
      font-size: 20px;
      line-height: 1.55;
    }
  }

  @media screen and (min-width: 992px) {
    padding: 138px 36px 0 36px;
    height: 506px;
    width: 400px;
  }
  @media screen and (min-width: 1290px) {
    margin-left: auto;
  }

  strong {
    display: block;
    font-size: 29px;
    line-height: 1.2;
  }
}

// Category
.category {
  padding-left: 15px;
  .inner {
    padding-bottom: 0;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 78px;
    .inner {
      padding-top: 50px;
    }
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 86px;
    .inner {
      padding-top: 80px;
    }
  }
  @media screen and (min-width: 1290px) {
    padding-bottom: 112px;
    .inner {
      padding-top: 93px;
    }
  }
}

.category__title {
  font-weight: bold;
  color: #0f0f0f;
  @media screen and (max-width: 767px) {
    width: 286px;
    font-size: 33px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    font-size: 50px;
    line-height: 1.22;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1290px) {
    font-size: 69px;
    margin-bottom: 53px;
  }
}
.category__list {
  @media screen and (max-width: 991px) {
    padding-bottom: 23px;
  }
  @media screen and (min-width: 992px) {
    padding-bottom: 68px;
  }
  @media screen and (min-width: 1290px) {
    padding-bottom: 80px;
    // margin-left: auto;
    // margin-right: auto;
  }
}
.category__list__item {
  position: relative;
  background: #ffffff;
  border-radius: 275px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 252px;
  }
  h3 {
    font-weight: bold;
    color: #111111;
  }

  @media screen and (max-width: 991px) {
    width: 228px;
    height: 430px;
    padding: 14px 7px 62px 7px;
    margin: 0 10px;
    img {
      height: 187px;
      width: 193px;
    }
    h3 {
      font-size: 20px;
      line-height: 1.05;
    }
  }
  @media screen and (min-width: 992px) {
    width: 396px;
    height: 654px;
    padding: 25px 25px 82px 25px;
    margin: 0 18px;
    img {
      width: 346px;
      height: 337px;
    }
    h3 {
      font-size: 25px;
      line-height: 1.2;
      margin-bottom: 5px;
    }
  }
}

.category__price {
  font-weight: 500;
  color: #111;
  span {
    font-weight: 700;
    color: #ef7f1a;
  }
  @media screen and (max-width: 991px) {
    font-size: 16px;
    line-height: 1.69;
    span {
      font-size: 20px;
      line-height: 1.35;
    }
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 13px;
    font-size: 25px;
    line-height: 1.08;
    span {
      font-size: 35px;
      line-height: 0.77;
    }
  }
}

.category__description {
  font-weight: normal;
  color: #000;
  @media screen and (max-width: 991px) {
    padding: 0 0 5px 0;
    font-size: 12px;
    line-height: 1.42;
  }
  @media screen and (min-width: 992px) {
    padding: 0 10px 10px 10px;
    font-size: 16px;
    line-height: 1.37;
  }
}
.category__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: flex-start;
  margin: 0;
  padding: 12px 0 0 0;
  line-height: 1;

  @media screen and (max-width: 991px) {
    padding-top: 8px;
    font-size: 16px;
    height: 64px;
    width: 182px;
    bottom: -7px;
  }
  @media screen and (min-width: 992px) {
    width: 315px;
    height: 110px;
    font-size: 20px;
    bottom: -37px;
  }
}

// Measuring section
.measuring {
  text-align: center;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 30%;
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.73),
        rgba(17, 17, 17, 0.73)
      ),
      url(/images/backgrounds/measuring-mobile.jpg);

    .inner {
      padding-top: 68px;
      padding-bottom: 78px;
    }
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.73),
        rgba(17, 17, 17, 0.73)
      ),
      url(/images/backgrounds/measuring-tablet.jpg);

    .inner {
      padding-top: 87px;
      padding-bottom: 101px;
    }
  }
  @media screen and (min-width: 1290px) {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.73),
        rgba(17, 17, 17, 0.73)
      ),
      url(/images/backgrounds/measuring-desctop.jpg);
    .inner {
      padding-top: 143px;
      padding-bottom: 188px;
    }
  }
}

.measuring__title {
  font-weight: bold;
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 33px;
    line-height: 1.2;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 47px;
    font-size: 50px;
    line-height: 1.22;
  }
  @media screen and (min-width: 1290px) {
    font-size: 69px;
    margin-bottom: 58px;
  }
}
.measuring__text {
  font-weight: 500;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    line-height: 1.4;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    line-height: 1.2;
    margin-bottom: 33px;
  }
  @media screen and (min-width: 1290px) {
    width: 1022px;
    font-size: 25px;
    margin-bottom: 43px;
  }
}

// Galery
.galery {
  padding-left: 15px;
  @media screen and (max-width: 767px) {
    padding-bottom: 48px;
    .inner {
      padding-top: 50px;
      padding-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 76px;
    .inner {
      padding-top: 74px;
      padding-bottom: 52px;
    }
  }
  @media screen and (min-width: 1290px) {
    padding-bottom: 102px;

    .inner {
      padding-top: 93px;
      padding-bottom: 68px;
    }
  }
}

.galery__title {
  margin: 0;
  font-weight: bold;
  color: #0f0f0f;
  @media screen and (max-width: 767px) {
    font-size: 33px;
    line-height: 1.2;
  }
  @media screen and (min-width: 768px) {
    font-size: 50px;
    line-height: 1.22;
  }
  @media screen and (min-width: 1290px) {
    font-size: 69px;
  }
}
.galery__imagesList {
  margin: 0;
  @media screen and (max-width: 767px) {
    padding-bottom: 23px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 68px;
  }
  @media screen and (min-width: 1290px) {
    padding-bottom: 82px;
  }
}
.galery__imagesItem {
  border: 14px solid #ffffff;
  border-radius: 198px;
  overflow: hidden;
  box-sizing: border-box;
  img {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 767px) {
    width: 228px;
    height: 313px;
    margin-right: 10px;
    margin-left: 10px;
  }
  @media screen and (min-width: 768px) {
    width: 396px;
    height: 612px;
    margin-right: 18px;
    margin-left: 18px;
    border-width: 25px;
  }
}

// Calculate section
.calculate {
  background-color: #3c3c3c;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  background-position: top left, bottom right;
  @media screen and (max-width: 767px) {
    .inner {
      padding-top: 68px;
      padding-bottom: 77px;
    }
  }
  @media screen and (max-width: 991px) {
    background-image: url(/images/backgrounds/calculate_mobile.png),
      url(/images/backgrounds/pattern_mobile.png);
  }
  @media screen and (min-width: 768px) {
    .inner {
      padding-top: 87px;
      padding-bottom: 100px;
    }
  }
  @media screen and (min-width: 992px) {
    background-image: url(/images/backgrounds/calculate_tablet.png),
      url(/images/backgrounds/pattern_tablet.png);
  }
  @media screen and (min-width: 1290px) {
    .inner {
      padding-top: 143px;
      padding-bottom: 161px;
    }

    background-position: top center;
    background-image: url(/images/backgrounds/calculate-pattern_desk.png);
  }
}

.calculate__title {
  font-weight: bold;

  @media screen and (max-width: 767px) {
    font-size: 33px;
    line-height: 1.2;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 768px) {
    font-size: 50px;
    line-height: 1.22;
    margin-bottom: 37px;
  }
  @media screen and (min-width: 1290px) {
    font-size: 69px;
    margin-bottom: 46px;
  }
}

.calculate__text {
  font-weight: 400;
  font-size: 20px;
  @media screen and (max-width: 767px) {
    line-height: 1.4;
    margin-bottom: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }
  @media screen and (min-width: 768px) {
    line-height: 1.2;
    margin-bottom: 36px;
    padding-left: 70px;
    padding-right: 70px;
  }
  @media screen and (min-width: 1290px) {
    font-size: 25px;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 46px;
  }
}
.calculate__button {
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.2;
  @media screen and (max-width: 767px) {
    width: 286px;
    height: 76px;
  }
  @media screen and (min-width: 768px) {
    width: 338px;
    height: 78px;
  }
  @media screen and (min-width: 1290px) {
    width: 320px;
  }
}

// Process section
.process {
  background-repeat: no-repeat;
  color: #ffffff;

  @media screen and (max-width: 767px) {
    .inner {
      padding-top: 51px;
      padding-bottom: 56px;
    }
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.73),
        rgba(17, 17, 17, 0.73)
      ),
      url(/images/backgrounds/process_back_mobile.jpg);
    background-size: cover;
  }
  @media screen and (min-width: 768px) {
    .inner {
      padding-top: 78px;
      padding-bottom: 170px;
    }
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.73),
        rgba(17, 17, 17, 0.73)
      ),
      url(/images/backgrounds/process_back_tablet.jpg);
    background-size: cover;
    background-position: bottom;
  }
  @media screen and (min-width: 1290px) {
    .inner {
      padding-top: 100px;
      padding-bottom: 114px;
    }
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.73),
        rgba(17, 17, 17, 0.73)
      ),
      url(/images/backgrounds/process_back_desk.jpg);
  }
}

.process__decorate {
  position: absolute;
  z-index: -1;

  @media screen and (min-width: 992px) {
    top: 0;
    width: 43%;
    height: 100%;
    border: 4px solid #ef7f1a;
  }
}

.process__title {
  font-weight: bold;
  @media screen and (max-width: 767px) {
    width: 205px;
    margin-bottom: 27px;
    font-size: 33px;
    line-height: 1.2;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 53px;
    font-size: 50px;
    line-height: 1.22;
  }
  @media screen and (min-width: 1290px) {
    margin-bottom: 66px;
    font-size: 69px;
  }
}

.process__list {
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.process__item {
  &:nth-child(2n + 1) {
    text-align: left;
  }
  &:nth-child(2n) {
    text-align: right;
  }

  @media screen and (max-width: 767px) {
    &:nth-child(1) {
      font-size: 16px;
      line-height: 1.31;
    }
    &:not(:nth-child(1)) {
      font-size: 12px;
      line-height: 1.42;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &:nth-child(2n) {
      .process__number {
        margin-left: auto;
      }
    }
  }

  @media screen and (min-width: 768px) {
    position: relative;
    z-index: 1;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -4px;
    font-size: 20px;
    line-height: 1.5;
    &:nth-child(1) {
      padding-top: 66px;
      padding-bottom: 66px;
    }
    &:not(:nth-child(1)) {
      align-items: center;
    }
    &:nth-child(2n + 1) {
      justify-content: flex-start;
      padding-left: 66px;
      margin-left: 266px;
      .process__decorate {
        left: 0;
        border-right: none;
        border-top-left-radius: 170px;
        border-bottom-left-radius: 170px;
      }
      .process__subtitle {
        left: 0;
        transform: translateX(calc(-100% - 54px));
      }
      .process__number {
        left: -41px;
      }
    }
    &:nth-child(2n) {
      justify-content: flex-end;
      padding-right: 66px;
      margin-right: 244px;
      .process__decorate {
        right: 0;
        border-left: none;
        border-top-right-radius: 170px;
        border-bottom-right-radius: 170px;
      }
      .process__subtitle {
        right: 0;
        transform: translateX(calc(100% + 54px));
      }
      .process__number {
        right: -41px;
      }
    }
  }

  @media screen and (min-width: 1290px) {
    width: 886px;
    font-size: 25px;
    &:nth-child(1) {
      line-height: 1.56;
      padding-top: 54px;
      padding-bottom: 62px;
    }
    &:not(:nth-child(1)) {
      line-height: 1.52;
    }

    &:nth-child(2n + 1) {
      padding-left: 72px;
      margin-left: 300px;
      .process__subtitle {
        left: 0;
        transform: translateX(calc(-100% - 70px));
      }
    }
    &:nth-child(2n) {
      padding-right: 72px;
      margin-right: 300px;
      .process__subtitle {
        transform: translateX(calc(100% + 70px));
      }
    }
  }
}

.process__number {
  display: block;
  padding: 12px 0;
  width: 72px;
  height: 66px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 35px;
  line-height: 1.23;
  text-align: center;
  color: #3c3c3c;
  background-color: #ffffff;
  @media screen and (max-width: 767px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.process__subtitle {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.23;
  @media screen and (max-width: 767px) {
    margin-bottom: 9px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: calc(50% - 18px);
  }
  @media screen and (min-width: 1290px) {
    font-size: 35px;
    line-height: 1.23;
    top: calc(50% - 20px);
  }
}

.process__description {
  span {
    font-weight: bold;
    color: #ef7f1a;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      line-height: 1;
    }
    @media screen and (min-width: 1290px) {
      font-size: 35px;
      line-height: 1.11;
    }
  }
}
.process__button {
  width: 286px;
  height: 78px;
  margin: 17px auto 0 0;
  font-size: 20px;
}

// Assortiment section
.assortiment {
  background-repeat: no-repeat;
  color: #ffff;
  text-align: center;
  background-color: #3c3c3c;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  @media screen and (max-width: 767px) {
    .inner {
      padding-top: 68px;
      padding-bottom: 77px;
    }
    background-image: url(/images/backgrounds/assortiment_back1_mobile.png),
      url(/images/backgrounds/assortiment_back2_mobile.png);
  }
  @media screen and (min-width: 768px) {
    .inner {
      padding-top: 90px;
      padding-bottom: 87px;
    }
    background-image: url(/images/backgrounds/assortiment_back1_tablet.png),
      url(/images/backgrounds/assortiment_back2_tablet.png);
  }
  @media screen and (min-width: 1290px) {
    .inner {
      padding-top: 148px;
      padding-bottom: 160px;
    }
    background-image: url(/images/backgrounds/assortiment_back_desk.png);
    background-position: top center;
  }
}
.assortiment__title {
  font-weight: bold;

  @media screen and (max-width: 767px) {
    font-size: 33px;
    line-height: 1.2;
    margin-bottom: 21px;
  }
  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 48px;
    line-height: 1.22;
  }
  @media screen and (min-width: 992px) {
    font-size: 50px;
  }
  @media screen and (min-width: 1290px) {
    margin-bottom: 60px;
    font-size: 69px;
  }
}
.assortiment__text {
  font-size: 20px;

  @media screen and (max-width: 767px) {
    padding: 0 4px;
    margin-bottom: 40px;
    line-height: 1.4;
  }
  @media screen and (min-width: 768px) {
    padding: 0 10px;
    margin-bottom: 34px;
    line-height: 1.2;
  }
  @media screen and (min-width: 1290px) {
    padding: 0 30px;
    margin-bottom: 60px;
    font-size: 25px;
  }
}

// Benefits section
.benefits {
  @media screen and (max-width: 767px) {
    .inner {
      padding-top: 51px;
      padding-bottom: 40px;
    }
  }
  @media screen and (min-width: 768px) {
    .inner {
      padding-top: 74px;
      padding-bottom: 54px;
    }
  }
  @media screen and (min-width: 1290px) {
    .inner {
      padding-top: 94px;
      padding-bottom: 77px;
    }
  }
}
.benefits__title {
  font-weight: bold;
  color: #111111;
  @media screen and (max-width: 767px) {
    width: 286px;
    font-size: 33px;
    line-height: 1.2;
    margin-bottom: 44px;
  }
  @media screen and (min-width: 768px) {
    font-size: 50px;
    line-height: 1.22;
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1290px) {
    margin-bottom: 63px;
    font-size: 69px;
    line-height: 84px;
  }
}

.benefits__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits__item {
  position: relative;
  padding-bottom: 32px;
  img {
    display: block;
    margin-right: auto;
    margin-bottom: 8px;
    border: 14px solid #ffffff;
    border-radius: 102px;
  }
  span {
    z-index: 1;
    position: absolute;
    font-weight: 700;
    color: #ef7f1a;
  }
  @media screen and (max-width: 767px) {
    width: calc(50% - 10px);
    img {
      width: 99px;
      height: 127px;
    }
    span {
      top: 70px;
      left: 72px;
      font-size: 35px;
      line-height: 1.23;
      color: #ef7f1a;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc(25% - 10px);
    img {
      width: 140px;
      height: 183px;
      margin-bottom: 20px;
    }
    span {
      font-size: 55px;
      line-height: 1.22;
      left: 110px;
      top: 110px;
    }
  }
  @media screen and (min-width: 992px) {
    span {
      font-size: 69px;
      left: 107px;
      top: 102px;
    }
  }
  @media screen and (min-width: 1290px) {
    width: calc(25% - 27px);
    &:not(:nth-child(4n)) {
      margin-right: 35px;
    }
  }
}
.benefits__description {
  font-weight: bold;
  line-height: 1.25;
  width: 100%;
  @media screen and (max-width: 419px) {
    font-size: 12px;
  }
  @media screen and (min-width: 420px) {
    font-size: 16px;
  }
  @media screen and (min-width: 992px) {
    font-size: 18px;
    line-height: 1.22;
  }
  @media screen and (min-width: 1290px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

// Clients reviews section
.reviews {
  position: relative;
  padding-left: 15px;
  .inner {
    position: relative;
    z-index: 1;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
    .inner {
      padding-top: 52px;
    }
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 87px;
    .inner {
      padding-top: 75px;
    }
  }
  @media screen and (min-width: 1290px) {
    padding-bottom: 110px;
    .inner {
      padding-top: 96px;
    }
  }
}
.reviews__background {
  position: absolute;
  left: 0px;
  top: 0;
  // z-index: -1;
  background: #ffffff;
  height: 100%;
  @media screen and (max-width: 767px) {
    width: calc(100% - 107px);
    border-radius: 0px 130px 0px 0px;
  }
  @media screen and (min-width: 768px) {
    width: calc(100% - 75px);
    border-radius: 0px 421px 0px 0px;
  }
  @media screen and (min-width: 1290px) {
    width: 70%;
  }
}
.reviews__title {
  font-weight: bold;
  color: #111111;

  @media screen and (max-width: 767px) {
    font-size: 33px;
    line-height: 1.21;
    margin-bottom: 33px;
  }
  @media screen and (min-width: 768px) {
    font-size: 50px;
    line-height: 1.22;
    margin-bottom: 41px;
  }
  @media screen and (min-width: 1290px) {
    font-size: 69px;
    margin-bottom: 52px;
  }
}
.reviews__wrapper {
  margin: 0;
  padding: 10px 0 0 0;
  @media screen and (min-width: 768px) {
    padding-top: 29px;
  }
}
.reviews__item {
  position: relative;
  background: #f5f5f5;
  color: #0a0a0a;
  border: 4px solid #fff;
  text-align: center;

  span {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    background: #ef7f1a;
    color: #fff;
    font-weight: bold;
    border-radius: 102px;
  }
  @media screen and (max-width: 767px) {
    margin-right: 23px;
    padding: 16px 20px 0 20px;
    width: 227px;
    height: 211px;
    border-radius: 87px;
    span {
      top: -10px;
      padding: 4px 6px 4px 6px;
      font-size: 10px;
      line-height: 1.2;
    }
  }
  @media screen and (min-width: 768px) {
    margin-right: 36px;
    padding: 50px 85px 0 85px;
    width: 612px;
    height: 292px;
    border-radius: 146px;
    span {
      top: -29px;
      padding: 20px 30px 20px 30px;
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
.reviews__name {
  font-weight: bold;
  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 1.25;
  }
  @media screen and (min-width: 768px) {
    font-size: 35px;
    line-height: 1.23;
    margin-bottom: 14px;
  }
}
.reviews__text {
  @media screen and (max-width: 767px) {
    font-size: 10px;
    line-height: 1.6;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.69;
  }
}
.reviews_button {
  position: relative;
  z-index: 1;
  margin: 23px auto 0 auto;
  width: 286px;
  height: 78px;
  font-size: 20px;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    margin-top: 39px;
  }
  @media screen and (min-width: 1290px) {
    margin-top: 64px;
  }
}

// About

.about {
  color: #0f0f0f;
  position: relative;
  .inner {
    @media screen and (max-width: 767px) {
      // padding-top: 52px;
      padding-bottom: 60px;
      padding-left: 0;
      padding-right: 0;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      padding-bottom: 91px;
    }
    @media screen and (min-width: 1290px) {
      padding-bottom: 112px;
    }
  }
}

.about__background {
  @media screen and (min-width: 768px) {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    border-radius: 0px 0 216px 0px;
    width: 58%;
    height: 848px;
  }
  @media screen and (min-width: 1290px) {
    border-radius: 0 0 312px 0;
    width: 50%;
  }
}

.about__text {
  position: relative;
  z-index: 1;

  @media screen and (max-width: 767px) {
    padding-top: 52px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 56px;
    background-color: #fff;
    border-radius: 0px 0 115px 0px;
    width: 100%;

    p {
      font-size: 12px;
      line-height: 1.42;
    }
  }
  @media screen and (min-width: 768px) {
    width: 58%;
    padding: 75px 94px 87px 0;
  }
  @media screen and (min-width: 992px) {
    p {
      font-size: 16px;
      line-height: 1.87;
    }
  }
  @media screen and (min-width: 1290px) {
    width: 50%;
    padding: 94px 108px 110px 0;
  }
}
.about__title,
.adress__title {
  font-weight: bold;

  @media screen and (max-width: 767px) {
    margin-bottom: 22px;
    font-size: 33px;
    line-height: 1.21;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 33px;
    font-size: 50px;
    line-height: 1.22;
  }
  @media screen and (min-width: 1290px) {
    margin-bottom: 44px;
    font-size: 69px;
  }
}

.about__adress {
  @media screen and (max-width: 767px) {
    padding-top: 52px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    padding-top: 75px;
    padding-left: 30px;
    width: 42%;
  }
  @media screen and (min-width: 1290px) {
    padding-top: 94px;
    width: 50%;
  }
}

.adress__list {
  border-bottom: 1px solid #d8d8d8;
  span {
    font-size: 16px;
    line-height: 1.25;
    border-bottom: 1px dashed #111111;
  }
  @media screen and (min-width: 992px) {
    span {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.adress__link,
.social__link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;

  @media screen and (max-width: 767px) {
    font-size: 25px;
    line-height: 1.2;
  }
  @media screen and (min-width: 768px) {
    font-size: 23px;
  }
  @media screen and (min-width: 992px) {
    font-size: 30px;
    line-height: 1.23;
  }
  @media screen and (min-width: 1290px) {
    font-size: 35px;
  }
}
.social__link {
  &:hover,
  &:focus {
    color: #ef7f1a;
    svg {
      fill: #ef7f1a;
    }
  }
}

.social__list {
  @media screen and (max-width: 767px) {
    margin-top: 18px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 42px;
  }
}
.adress__link:hover,
.adress__link:focus {
  color: #ef7f1a;

  svg {
    fill: #ef7f1a;
  }

  span {
    color: #ef7f1a;
    border-bottom-color: transparent;
  }
}

.adress__link {
  &:nth-child(1) {
    align-items: flex-start;
  }
}

.address_linkToMap {
  text-align: left;
}

.adress__item,
.social__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 18px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 42px;
  }
}

.about__icons {
  @media screen and (max-width: 767px) {
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
    margin-right: 16px;
  }
  @media screen and (min-width: 768px) {
    min-width: 52px;
    min-height: 52px;
    max-width: 52px;
    max-height: 52px;
    margin-right: 18px;
  }
  @media screen and (min-width: 1290px) {
    margin-right: 20px;
  }
}

.about__button {
  font-size: 20px;
  line-height: 1.2;
  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    width: 276px;
    height: 76px;
  }
  @media screen and (min-width: 768px) {
    width: 286px;
    height: 78px;
  }
}
